language: go

go:
  - 1.12.x

go_import_path: github.com/appsody/appsody

services:
  - docker

# skip the default language's install and script steps, we implement job stages instead
install: skip
script: skip

stages:
  - name: lint
  - name: test
  - name: deploy
    if: tag IS present

     
test-template: &test-template
  stage: test
  install: if [ "$TRAVIS_OS_NAME" = "windows" ]; then choco install make; fi
  script: travis_wait make cover

jobs:
  include:
    - name: Lint
      stage: lint
      os: linux
      script: make lint
    - <<: *test-template
      name: Full Test on Linux amd64
      os: linux
      arch: amd64
      dist: xenial
      # installation instructions for Buildah taken from https://github.com/containers/buildah/blob/master/install.md
      before_install:
        - sudo apt-get update -qq
        - sudo apt-get install -qq -y software-properties-common
        - sudo add-apt-repository -y ppa:projectatomic/ppa
        - sudo apt-get update -qq
        - sudo apt-get -qq -y install buildah
    - <<: *test-template
      name: Full Test on Linux ppc64le
      env: STACKS_LIST=dev.local/starter
      os: linux
      arch: ppc64le
      dist: xenial
      before_install:
        - sudo apt-get update -qq
        - sudo apt-get install -qq -y software-properties-common
        - sudo add-apt-repository -y ppa:projectatomic/ppa
        - sudo apt-get update -qq
        - sudo apt-get -qq -y install buildah
      before_script:
      - make build-linux-ppc64le
      - cd ./cmd/testdata/starter
      - /build/appsody-0.0.0-linux-ppc64le stack package
    - <<: *test-template
      name: Full Test on Linux s390x
      env: STACKS_LIST=dev.local/starter
      os: linux
      arch: s390x
      dist: xenial
      before_install:
        - sudo apt-get update -qq
        - sudo apt-get install -qq -y software-properties-common
        - sudo add-apt-repository -y ppa:projectatomic/ppa
        - sudo apt-get update -qq
        - sudo apt-get -qq -y install buildah
      before_script:
      - make build-linux-s390x
      - cd ./cmd/testdata/starter
      - /build/appsody-0.0.0-linux-s390x stack package
    - <<: *test-template
      name: Unit Test on MacOS
      os: osx
      script: 
      - make unittest
    - <<: *test-template
      name: Unit Test on Windows
      os: windows
      script: 
      - make unittest
    - name: Deploy Release
      stage: deploy
      os: linux
      script:
        - make VERSION=${TRAVIS_TAG}  package
        - make deploy
      deploy:
        provider: releases
        skip_cleanup: true
        api_key: $GH_TOKEN
        file: package/*
        file_glob: true
        on:
          branch: master
          tags: true
